In [10]:
%load_ext autoreload
%autoreload 

from common.utils.optimization import Pulp_optimization
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
df_holdet = pd.read_csv("common/ressources/df_holdet")
# df_holdet = pd.read_csv("common/ressources/df_holdet_old")
Exclude_list = ["Denzel Dumfries"]

In [14]:
Squad, Squad_Team, Squad_xPoints, Squad_Position, Squad_Captain, Budget, TransferCost, nShare, Squad_xPoints, buy_list, sell_list,  buy_list_position, \
buy_list_team, buy_list_xPoints, sell_list_team, sell_list_position, sell_list_xPoints = Pulp_optimization(df_holdet["country"], len(df_holdet), "", df_holdet["price"], [], df_holdet["E_points_total"], list(df_holdet["position"]), Exclude_list, [], [], [],50000000, df_holdet["name1"], df_holdet["E_points_total"])

Jordan Pickford,Position = MÃ¥l,Team = England, xPoints = 166640, Cost = 5000000
Kieran Trippier,Position = Forsvar,Team = England, xPoints = 182574, Cost = 4000000
John Stones,Position = Forsvar,Team = England, xPoints = 186044, Cost = 3500000
Lionel Messi,Position = Angreb,Team = Argentina, xPoints = 316146, Cost = 8000000
Nahuel Molina,Position = Forsvar,Team = Argentina, xPoints = 200220, Cost = 4500000
Nicolas Tagliafico,Position = Forsvar,Team = Argentina, xPoints = 188634, Cost = 4000000
Alexis Mac Allister,Position = Midtbane,Team = Argentina, xPoints = 150474, Cost = 2500000
Cody Gakpo,Position = Angreb,Team = Holland, xPoints = 265232, Cost = 4500000
Teun Koopmeiners,Position = Midtbane,Team = Holland, xPoints = 161673, Cost = 3500000
Jamal Musiala,Position = Midtbane,Team = Tyskland, xPoints = 202442, Cost = 4000000
Robert Lewandowski,Position = Angreb,Team = Polen, xPoints = 276676, Cost = 6500000

Captain: Lionel Messi

Expected points in this round = 2612901

Transfer cost = 0
Total cost = 50000000
Budget = 50000000
Share = 100.0%
Bank = 0

Sell:

Buy:
[8]

In [8]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\mathias\miniconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\mathias\miniconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\mathias\miniconda3\lib\site-packages (from html5lib) (1.16.0)

In [20]:

import mechanize
import html5lib
from http.cookiejar import LWPCookieJar
import requests
import json
import pandas as pd
browser = mechanize.Browser()
cj = LWPCookieJar()
browser.set_cookiejar(cj)
browser.set_handle_equiv(True)
browser.set_handle_redirect(True)
browser.set_handle_robots(False)
browser.set_handle_refresh(mechanize._http.HTTPRefreshProcessor(), max_time=1)
browser.open('http://www.rotowire.com/users/loginnow.htm')
browser.select_form(nr = 0)
browser.form['username'] = 'mklarskov'
browser.form['password'] = 'mads1234'
browser.submit()
url = browser.open('https://www.rotowire.com/soccer/tables/projections.php?position=All&league=WOC&type=weekly&myLeagueID=0')
json_file_rw = url.read()

js_read = json.loads(json_file_rw.decode('utf-8'))
rw_data = pd.DataFrame(js_read)

rw = rw_data[['player', 'team',  'opp','position', 'minutes', 'goals', 'assists', 'shots', 'sog', 'chancecreated',\
        'passes', 'totalpasses', 'crosses', 'accucrosses', 'aerials','dribbles', 'dispossessed','int','tackles',\
        'tackleswon', 'blocks','clearances', 'cleansheet', 'goalsconc', 'saves', 'fouldrawn','foulscommit', 'yellowcard', 'redcard']]

rw.columns = ['Player', 'Team', 'Opp', 'Pos', 'MIN', 'G', 'A', 'S', 'SOG', 'CC', 'P',
        'AP', 'CR', 'ACR', 'AW', 'DR', 'DSP', 'INT', 'TKL', 'TKLW', 'BLK', 'CL',
        'CS', 'GC', 'SV', 'FS', 'FC', 'Y', 'R']

In [21]:
from common.utils.holdet_utils import get_holdet_data
import difflib 
df_holdet = get_holdet_data()

In [22]:
df_holdet.reset_index(drop=True, inplace = True)

In [23]:
rw['Player_match'] = ""
for i in range(len(rw)):
    try:
        rw.loc[i,'Player_match'] = difflib.get_close_matches(rw.loc[i,'Player'], df_holdet['name1'])[0]
    except: 
        rw.loc[i,'Player_match'] = "null"
        

rw.loc[rw["Player"]=="Bono","Player_match"]="Yassine 'Bono' Bounou"
rw.loc[rw["Player"]=="Ez Abde","Player_match"]="Abde Ezzalzouli"
rw.loc[rw["Player"]=="Hwang Hee-Chan","Player_match"]="Hee-Chan Hwang"
rw.loc[rw["Player"]=="Hwang In-beom","Player_match"]="In-Beom Hwang"
rw.loc[rw["Player"]=="Kim Jin-su","Player_match"]="Jin-Su Kim"
rw.loc[rw["Player"]=="Kim Min-Jae","Player_match"]="Min-jae Kim"
rw.loc[rw["Player"]=="Roan Roberto Wilson Gordon","Player_match"]="Roan Wilson"
rw.loc[rw["Player"]=="Milad Sarlak","Player_match"]="Milad Mohammadi"
rw.loc[rw["Player"]=="Wellington Moises Ramirez Preciado","Player_match"] = "Moises Ramirez"
rw.loc[(rw["Player"]=="Danilo") & (rw["Team"]=="POR"),"Player_match"]="Danilo Pereira"
rw.loc[rw["Player"]=="Jose Maria Gimenez","Player_match"] = "Jose Gimenez"
rw.loc[rw["Player"]=="Santiago Gimenez","Player_match"] = "Raul Jimenez"
rw.loc[rw["Player"]=="Gavi","Player_match"] = "Pablo Gavi"
rw.loc[rw["Player"]=="Jung Woo-young","Player_match"] = "Woo-Young Jung"
rw.loc[rw["Player"]=="Hwang Ui-Jo","Player_match"] = "Ui-jo Hwang"

C:\Users\Mathias\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\Mathias\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [29]:
rw[rw["Player_match"]=="null"]

,Player,Team,Opp,Pos,MIN,G,A,S,SOG,CC,...,BLK,CL,CS,GC,SV,FS,FC,Y,R,Player_match
103,Hwang Ui-Jo,KOR,URU,F/M,90,0.15,0.04,1.95,0.69,0.36,...,0.04,0.87,0.14,2.08,0.00,1.23,0.68,0.08,0.00,null
203,Jung Woo-young,KOR,URU,M,90,0.04,0.05,0.83,0.22,0.81,...,0.25,1.00,0.14,2.08,0.00,1.10,1.49,0.34,0.01,null

In [31]:
df_holdet[df_holdet["country"]=="Sydkorea"]

,name1,name2,name3,name4,name5,name6,name7,country,price,position
35,Heung-Min Son,H. Son,Heung-Min Son,H. Son,Heung-Min Son,H. Son,Heung-Min Son,Sydkorea,5512000.0,Midtbane
230,Seung-Gyu Kim,S. Kim,Seung-Gyu Kim,S. Kim,Seung-Gyu Kim,S. Kim,Seung-Gyu Kim,Sydkorea,3587000.0,MÃ¥l
261,Ui-jo Hwang,U. Hwang,Ui-jo Hwang,U. Hwang,Ui-jo Hwang,U. Hwang,Ui-jo Hwang,Sydkorea,3512000.0,Angreb
281,Hee-Chan Hwang,H. Hwang,Hee-Chan Hwang,H. Hwang,Hee-Chan Hwang,H. Hwang,Hee-Chan Hwang,Sydkorea,3495000.0,Midtbane
282,Chang-Hoon Kwon,C. Kwon,Chang-Hoon Kwon,C. Kwon,Chang-Hoon Kwon,C. Kwon,Chang-Hoon Kwon,Sydkorea,3495000.0,Midtbane
352,Jin-Su Kim,J. Kim,Jin-Su Kim,J. Kim,Jin-Su Kim,J. Kim,Jin-Su Kim,Sydkorea,3062000.0,Forsvar
353,Young-Gwon Kim,Y. Kim,Young-Gwon Kim,Y. Kim,Young-Gwon Kim,Y. Kim,Young-Gwon Kim,Sydkorea,3062000.0,Forsvar
354,Min-jae Kim,M. Kim,Min-jae Kim,M. Kim,Min-jae Kim,M. Kim,Min-jae Kim,Sydkorea,3062000.0,Forsvar
393,Woo-Young Jung,W. Jung,Woo-Young Jung,W. Jung,Woo-Young Jung,W. Jung,Woo-Young Jung,Sydkorea,3012000.0,Midtbane
394,Jae-Sung Lee,J. Lee,Jae-Sung Lee,J. Lee,Jae-Sung Lee,J. Lee,Jae-Sung Lee,Sydkorea,3012000.0,Midtbane
457,Bum-Keun Song,B. Song,Bum-Keun Song,B. Song,Bum-Keun Song,B. Song,Bum-Keun Song,Sydkorea,2995000.0,MÃ¥l
471,Hyeon-Woo Jo,H. Jo,Hyeon-Woo Jo,H. Jo,Hyeon-Woo Jo,H. Jo,Hyeon-Woo Jo,Sydkorea,2995000.0,MÃ¥l
518,Moon-Hwan Kim,M. Kim,Moon-Hwan Kim,M. Kim,Moon-Hwan Kim,M. Kim,Moon-Hwan Kim,Sydkorea,2562000.0,Forsvar
555,In-Beom Hwang,I. Hwang,In-Beom Hwang,I. Hwang,In-Beom Hwang,I. Hwang,In-Beom Hwang,Sydkorea,2512000.0,Midtbane
574,Chul Hong,C. Hong,Chul Hong,C. Hong,Chul Hong,C. Hong,Chul Hong,Sydkorea,2495000.0,Forsvar
631,Tae-Hwan Kim,T. Kim,Tae-Hwan Kim,T. Kim,Tae-Hwan Kim,T. Kim,Tae-Hwan Kim,Sydkorea,2495000.0,Forsvar
646,Min-Kyu Song,M. Song,Min-Kyu Song,M. Song,Min-Kyu Song,M. Song,Min-Kyu Song,Sydkorea,2495000.0,Midtbane
669,Gue-Sung Cho,G. Cho,Gue-Sung Cho,G. Cho,Gue-Sung Cho,G. Cho,Gue-Sung Cho,Sydkorea,2492000.0,Angreb
710,Kang-In Lee,K. Lee,Kang-In Lee,K. Lee,Kang-In Lee,K. Lee,Kang-In Lee,Sydkorea,2012000.0,Midtbane
713,Jun-Ho Son,J. Son,Jun-Ho Son,J. Son,Jun-Ho Son,J. Son,Jun-Ho Son,Sydkorea,2012000.0,Midtbane
714,Sang-Ho Na,S. Na,Sang-Ho Na,S. Na,Sang-Ho Na,S. Na,Sang-Ho Na,Sydkorea,2012000.0,Midtbane
722,Kyung-Won Kwon,K. Kwon,Kyung-Won Kwon,K. Kwon,Kyung-Won Kwon,K. Kwon,Kyung-Won Kwon,Sydkorea,1995000.0,Forsvar
723,Seung-Ho Paik,S. Paik,Seung-Ho Paik,S. Paik,Seung-Ho Paik,S. Paik,Seung-Ho Paik,Sydkorea,1995000.0,Midtbane
724,Woo-Yeong Jeong,W. Jeong,Woo-Yeong Jeong,W. Jeong,Woo-Yeong Jeong,W. Jeong,Woo-Yeong Jeong,Sydkorea,1995000.0,Angreb
781,Jong-Gyu Yoon,J. Yoon,Jong-Gyu Yoon,J. Yoon,Jong-Gyu Yoon,J. Yoon,Jong-Gyu Yoon,Sydkorea,1995000.0,Forsvar
782,Yu-Min Cho,Y. Cho,Yu-Min Cho,Y. Cho,Yu-Min Cho,Y. Cho,Yu-Min Cho,Sydkorea,1995000.0,Forsvar

In [115]:
rw[rw["Player_match"]=="Jose Gimenez"]

,Player,Team,Opp,Pos,MIN,G,A,S,SOG,CC,...,BLK,CL,CS,GC,SV,FS,FC,Y,R,Player_match
23,Santiago Gimenez,MEX,POL,F,90,0.50,0.13,3.58,1.44,1.20,...,0.07,1.04,0.38,1.03,0.00,1.08,1.47,0.16,0.02,Jose Gimenez
252,Jose Maria Gimenez,URU,KOR,D,90,0.02,0.02,0.92,0.23,0.20,...,0.67,4.49,0.47,0.86,0.00,0.62,0.75,0.30,0.00,Jose Gimenez

In [93]:
rw.loc[rw["Player_match"]=="null"]

Empty DataFrame
Columns: [Player, Team, Opp, Pos, MIN, G, A, S, SOG, CC, P, AP, CR, ACR, AW, DR, DSP, INT, TKL, TKLW, BLK, CL, CS, GC, SV, FS, FC, Y, R, Player_match]
Index: []

[0 rows x 30 columns]

In [137]:
from collections import OrderedDict

In [132]:
from common.utils.dict_utils import eng2dan
# load data
df_holdet = get_holdet_data()

In [147]:
inv_map = {v: k for k, v in eng2dan.items()}

In [163]:
df = pd.DataFrame()
df["land"] = pd.Series(df_holdet["country"].unique())

In [164]:
df["country"] = pd.Series(df_holdet["country"].unique()).apply(lambda x: inv_map[x])

In [178]:
df["3letter"] =  df["country"].apply(lambda x: ShortNames[x])

In [179]:
df.loc[df["3letter"]=="SAU","3letter"]="KSA"
df.loc[df["3letter"]=="COS","3letter"]="CRC"
df.loc[df["3letter"]=="IRA","3letter"]="IRN"
df.loc[df["3letter"]=="JAP","3letter"]="JPN"
df.loc[df["3letter"]=="MAR","3letter"]="MOR"
df.loc[df["3letter"]=="SWI","3letter"]="SUI"
df.loc[df["3letter"]=="SER","3letter"]="SRB"
df.loc[df["3letter"]=="NLD","3letter"]="NED"
df.loc[df["3letter"]=="SPA","3letter"]="ESP"

In [180]:
df["jeysey_code"] =  df["3letter"].apply(lambda x: dict_jersey[x])

In [184]:
df.to_csv("to_fisker")

In [176]:
dict_jersey = {"QAT":"43834",
"KSA":"43835",
"TUN": "43838",
"CRC": "43901",
"IRN": "43871",
"JPN": "43819",
"CAM": "43879",
"WAL": "43974",
"AUS": "43976",
"GHA": "43860",
"CAN": "43899",
"KOR": "43822",
"CRO": "43938",
"USA": "43921",
"ECU": "43927",
"MOR": "43872",
"POL": "43962",
"URU": "43930",
"SEN": "43879",
"MEX": "43911",
"SUI": "43971",
"DEN": "43961",
"SRB": "1902465",
"ARG": "43922",
"FRA": "43946",
"GER": "43948",
"ENG": "43942",
"ESP": "43969",
"BRA": "43924",
"POR": "43963",
"NED": "43960",
"BEL": "43935",
"BRA": "43924"}


df.sort_values("3letter")

             land       country 3letter
3       Argentina     Argentina     ARG
28     Australien     Australia     AUS
5         Belgien       Belgium     BEL
0       Brasilien        Brazil     BRA
25       Cameroun      Cameroon     CAM
24         Canada        Canada     CAN
30     Costa Rica    Costa Rica     CRC
15       Kroatien       Croatia     CRO
12        Danmark       Denmark     DEN
19        Ecuador       Ecuador     ECU
1         England       England     ENG
14        Spanien         Spain     ESP
2        Frankrig        France     FRA
7        Tyskland       Germany     GER
23          Ghana         Ghana     GHA
29           Iran          Iran     IRN
18          Japan         Japan     JPN
11       Sydkorea   South_Korea     KOR
20  Saudi-Arabien  Saudi Arabia     KSA
22         Mexico        Mexico     MEX
21        Marokko       Morocco     MOR
4         Holland   Netherlands     NED
8           Polen        Poland     POL
6        Portugal      Portugal     POR
31          Qatar         Qatar     QAT
10        Senegal       Senegal     SEN
13        Serbien        Serbia     SRB
26        Schweiz   Switzerland     SUI
27       Tunesien       Tunisia     TUN
9         Uruguay       Uruguay     URU
17            USA           USA     USA
16          Wales         Wales     WAL

In [186]:
1/(1/10+1/1.04)

0.9420289855072463

In [187]:
0.9420289855072463/10

0.09420289855072464

In [189]:
-np.log(0.09420289855072464)

2.362304327695668

In [155]:

ShortNames = {
    'Netherlands': 'NLD',
    'Ecuador':'ECU',
    'Qatar':'QAT',
    'USA':'USA',
    'Wales':'WAL',
    'Canada': 'CAN',
    'Cameroon':'CAM',
    'Ghana': 'GHA',
    'Russia':'RUS',
    'Uruguay':'URU',
    'Egypt':'EGP',
    'Saudi Arabia':'SAU',
    'Portugal':'POR',
    'Spain':'SPA',
    'Iran':'IRA',
    'Morocco':'MOR',
    'France':'FRA',
    'Peru':'PER',
    'Denmark':'DEN',
    'Australia':'AUS',
    'Argentina':'ARG',
    'Croatia':'CRO',
    'Iceland':'ICE',
    'Nigeria':'NIG',
    'Brazil':'BRA',
    'Switzerland':'SWI',
    'Costa Rica':'COS',
    'Serbia':'SER',
    'Germany':'GER',
    'Mexico':'MEX',
    'Sweden':'SWE',
    'Korea Republic':'KOR',
    'South_Korea':'KOR',
    'Belgium':'BEL',
    'England':'ENG',
    'Tunisia':'TUN',
    'Panama':'PAN',
    'Poland':'POL',
    'Colombia':'COL',
    'Senegal':'SEN',
    'Japan':'JAP'
}

In [89]:
rw.loc[rw["Player_match"]=="null"]

,Player,Team,Opp,Pos,MIN,G,A,S,SOG,CC,...,BLK,CL,CS,GC,SV,FS,FC,Y,R,Player_match
272,Wellington Moises Ramirez Preciado,ECU,QAT,G,90,0.00,0.01,0.00,0.00,0.03,...,0.00,1.08,0.35,1.15,1.41,0.11,0.02,0.05,0.00,null

In [119]:
import urllib.request, json
import pandas as pd
import numpy as np


cols = ["name1", "name2" ,"name3","name4","name5","name6", "name7"]
df_final = pd.DataFrame(columns = cols)
j=0
url = f"""https://www.holdet.dk/handlers/tradedata.ashx?language=da&game=2022-world-manager&userteam=&partial-name=&positions=&team=&formation=&minimum-value=0&maximum-value=0&lineup=&original-lineup=&sort=&addable-only=false&direction=-1&page={j}&include-headers=true&include-formations=true&include-lineup=true&include-fields=true&r=1666622443519"""
response = urllib.request.urlopen(url)
data = json.loads(response.read())

In [15]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 5.3 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [19]:
# importing the sys module
import psycopg2

ModuleNotFoundError: No module named 'psycopg2._psycopg'