In [74]:
%load_ext autoreload
%autoreload 2

from common.utils.optimization import Pulp_optimization
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
df_holdet = pd.read_csv("common/ressources/df_holdet")

In [78]:
Squad, Squad_Team, Squad_xPoints, Squad_Position, Squad_Captain, Budget, TransferCost, nShare, Squad_xPoints, buy_list, sell_list,  buy_list_position, \
buy_list_team, buy_list_xPoints, sell_list_team, sell_list_position, sell_list_xPoints = Pulp_optimization(df_holdet["country"], len(df_holdet), "", df_holdet["price"], [], df_holdet["E_points_total"], list(df_holdet["position"]), [], [], [], [],50000000, df_holdet["name1"], df_holdet["E_points_total"])

John Stones,Team = England, xPoints = 112017, Cost = 3500000
Emiliano Martinez,Team = Argentina, xPoints = 114312, Cost = 5500000
Nahuel Molina,Team = Argentina, xPoints = 125539, Cost = 4500000
Cody Gakpo,Team = Holland, xPoints = 176146, Cost = 4500000
Kevin De Bruyne,Team = Belgien, xPoints = 172590, Cost = 7500000
Jamal Musiala,Team = Tyskland, xPoints = 136980, Cost = 4000000
Alvaro Morata,Team = Spanien, xPoints = 190322, Cost = 5500000
Ferran Torres,Team = Spanien, xPoints = 206096, Cost = 5500000
Daniel Carvajal,Team = Spanien, xPoints = 122865, Cost = 3500000
Jose Luis Gaya,Team = Spanien, xPoints = 136427, Cost = 3000000
Angel Mena,Team = Ecuador, xPoints = 117548, Cost = 3000000

Captain: Ferran Torres

Expected points in this round = 1816938

Transfer cost = 0
Total cost = 50000000
Budget = 50000000
Share = 100.0%
Bank = 0

Sell:

Buy:
[10]

In [8]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\mathias\miniconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\mathias\miniconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\mathias\miniconda3\lib\site-packages (from html5lib) (1.16.0)

In [70]:

import mechanize
import html5lib
from http.cookiejar import LWPCookieJar
import requests
import json
import pandas as pd
browser = mechanize.Browser()
cj = LWPCookieJar()
browser.set_cookiejar(cj)
browser.set_handle_equiv(True)
browser.set_handle_redirect(True)
browser.set_handle_robots(False)
browser.set_handle_refresh(mechanize._http.HTTPRefreshProcessor(), max_time=1)
browser.open('http://www.rotowire.com/users/loginnow.htm')
browser.select_form(nr = 0)
browser.form['username'] = 'mklarskov'
browser.form['password'] = 'mads1234'
browser.submit()
url = browser.open('https://www.rotowire.com/soccer/tables/projections.php?position=All&league=WOC&type=weekly&myLeagueID=0')
json_file_rw = url.read()

js_read = json.loads(json_file_rw.decode('utf-8'))
rw_data = pd.DataFrame(js_read)

rw = rw_data[['player', 'team',  'opp','position', 'minutes', 'goals', 'assists', 'shots', 'sog', 'chancecreated',\
        'passes', 'totalpasses', 'crosses', 'accucrosses', 'aerials','dribbles', 'dispossessed','int','tackles',\
        'tackleswon', 'blocks','clearances', 'cleansheet', 'goalsconc', 'saves', 'fouldrawn','foulscommit', 'yellowcard', 'redcard']]

rw.columns = ['Player', 'Team', 'Opp', 'Pos', 'MIN', 'G', 'A', 'S', 'SOG', 'CC', 'P',
        'AP', 'CR', 'ACR', 'AW', 'DR', 'DSP', 'INT', 'TKL', 'TKLW', 'BLK', 'CL',
        'CS', 'GC', 'SV', 'FS', 'FC', 'Y', 'R']

In [71]:
rw["Team"].value_counts()

ECU    11
CMR    11
CRC    11
TUN    11
KSA    11
JPN    11
CAN    11
SEN    11
IRN    11
MAR    11
QAT    11
SRB    11
KOR    11
AUS    11
ENG    11
ARG    11
BEL    11
SUI    11
DEN    11
POR    11
POL    11
CRO    11
BRA    10
URU    10
MEX    10
GHA    10
WAL    10
FRA    10
GER     9
ESP     9
USA     8
NED     8
Name: Team, dtype: int64

In [15]:
from common.utils.holdet_utils import get_holdet_data
import difflib 
df_holdet = get_holdet_data()

In [20]:
df_holdet.columns

Index(['name1', 'name2', 'name3', 'name4', 'name5', 'name6', 'name7',
       'country', 'price', 'position'],
      dtype='object')

In [26]:
df_holdet.reset_index(drop=True, inplace = True)

In [38]:
rw['Player_match'] = ""
for i in range(len(rw)):
    try:
        rw.loc[i,'Player_match'] = difflib.get_close_matches(rw.loc[i,'Player'], df_holdet['name1'])[0]
    except: 
        rw.loc[i,'Player_match'] = "null"
        
rw.loc[rw["Player"]=="Bono","Player_match"]="Yassine 'Bono' Bounou"
rw.loc[rw["Player"]=="Ez Abde","Player_match"]="Abde Ezzalzouli"
rw.loc[rw["Player"]=="Hwang Hee-Chan","Player_match"]="Hee-Chan Hwang"
rw.loc[rw["Player"]=="Hwang In-beom","Player_match"]="In-Beom Hwang"
rw.loc[rw["Player"]=="Kim Jin-su","Player_match"]="Jin-Su Kim"
rw.loc[rw["Player"]=="Kim Min-Jae","Player_match"]="Min-jae Kim"
rw.loc[rw["Player"]=="Roan Roberto Wilson Gordon","Player_match"]="Roan Wilson"

C:\Users\Mathias\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\Mathias\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [57]:
rw.loc[rw["Player"]=="Bono","Player_match"]="Yassine 'Bono' Bounou"
rw.loc[rw["Player"]=="Ez Abde","Player_match"]="Abde Ezzalzouli"
rw.loc[rw["Player"]=="Hwang Hee-Chan","Player_match"]="Hee-Chan Hwang"
rw.loc[rw["Player"]=="Hwang In-beom","Player_match"]="In-Beom Hwang"
rw.loc[rw["Player"]=="Kim Jin-su","Player_match"]="Jin-Su Kim"
rw.loc[rw["Player"]=="Kim Min-Jae","Player_match"]="Min-jae Kim"
rw.loc[rw["Player"]=="Roan Roberto Wilson Gordon","Player_match"]="Roan Wilson"

c:\Users\Mathias\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
c:\Users\Mathias\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [45]:
rw[rw["Player_match"]=="null"]

"Yassine 'Bono' Bounou" == "Bono"
"Abde Ezzalzouli" == "Ez Abde"
"Hee-Chan Hwang" == "Hwang Hee-Chan"
"In-Beom Hwang" == "Hwang In-beom"
"Jin-Su Kim"=="Kim Jin-su"
"Min-jae Kim" == "Kim Min-Jae"
"Roan Wilson" == "Roan Roberto Wilson Gordon"

,Player,Team,Opp,Pos,MIN,G,A,S,SOG,CC,...,BLK,CL,CS,GC,SV,FS,FC,Y,R,Player_match
117,Roan Roberto Wilson Gordon,CRC,ESP,F,90,0.11,0.05,1.20,0.37,0.65,...,0.11,0.72,0.08,2.60,0.00,0.83,0.84,0.07,0.00,null
179,Hwang Hee-Chan,KOR,URU,F,90,0.05,0.10,1.64,0.68,0.63,...,0.00,0.41,0.14,2.08,0.00,2.06,1.70,0.24,0.00,null
191,Ez Abde,MAR,CRO,F,90,0.05,0.15,1.62,0.40,0.71,...,0.00,0.21,0.14,2.08,0.00,1.64,1.67,0.34,0.00,null
206,Kim Min-Jae,KOR,URU,D,90,0.04,0.00,0.30,0.05,0.14,...,1.06,5.01,0.14,2.08,0.00,0.28,0.49,0.10,0.00,null
226,Kim Jin-su,KOR,URU,D,90,0.03,0.01,0.46,0.11,0.18,...,0.79,4.37,0.14,2.08,0.00,0.55,1.02,0.32,0.02,null
277,Bono,MAR,CRO,G,90,0.01,0.01,0.01,0.00,0.02,...,0.00,1.21,0.14,2.08,3.11,0.06,0.01,0.10,0.00,null
296,Hwang In-beom,KOR,URU,M,90,0.00,0.05,0.41,0.07,0.70,...,0.55,1.40,0.14,2.08,0.00,0.90,1.23,0.00,0.00,null